p {
    /* Basic background and text settings */
    font-family: Georgia, serif; /* A classic, readable font */
    background-color: #ACCF8A; /* Light gray background */
    color: #B07ED6 /* Dark gray text for readability */
    margin: 0; /* Remove default body margin */
    padding: 20px;
}


h1 {

color: #7EAED6;
font-family: Times, serif;

}

h2 { 

    color: #C37ED6;

}
