p {

    font-family: Georgia, serif; 
    background-color: #ACCF8A;
    color: #B07ED6 

}


h1 {

color: #7EAED6;
    background-color: #11f22f;
font-family: Times, serif;

}

h2 { 

    color: #C37ED6;

}
